/* Pulsante Conferma (Verde con hover)
    Da aggiungere assieme a btn-outline-primary
 */
.btn-conferma {
    color: #28a745 !important; /* Testo verde */
    border: 2px solid #28a745 !important; /* Bordo verde */
    background-color: white !important; /* Sfondo bianco */
    border-radius: 5px !important; /* Smusso angoli */
    padding: 8px 16px !important; /* Margine interno */
    transition: all 0.3s ease !important; /* Transizione morbida */
}
.btn-conferma:hover {
    background-color: #28a745 !important; /* Sfondo verde */
    border-color: #28a745 !important; /* Bordo verde */
    color: white !important; /* Testo bianco */
}

.btn-conferma-full {
    color: white !important; /* Testo bianco */
    border: 2px solid #28a745 !important; /* Bordo verde */
    background-color: #28a745 !important; /* Sfondo verde */
    border-radius: 5px !important; /* Smusso angoli */
    padding: 8px 16px !important; /* Margine interno */
    transition: all 0.3s ease !important; /* Transizione morbida */
}
.btn-conferma-full:hover {
    color: white !important; /* Testo bianco */
    border: 2px solid #28a745 !important; /* Bordo verde */
    background-color: #28a745 !important; /* Sfondo verde */
    border-radius: 5px !important; /* Smusso angoli */
    padding: 8px 16px !important; /* Margine interno */
    transition: all 0.3s ease !important; /* Transizione morbida */
}


/* Pulsante Annulla (Grigio con hover)
    Da aggiungere assieme a btn-outline-secondary
 */
.btn-annulla {
    color: #6c757d !important; /* Testo grigio */
    border: 2px solid #6c757d !important; /* Bordo grigio */
    background-color: white !important; /* Sfondo bianco */
    border-radius: 5px !important; /* Smusso angoli */
    padding: 8px 16px !important; /* Margine interno */
    transition: all 0.3s ease !important; /* Transizione morbida */
}
.btn-annulla:hover {
    background-color: #6c757d !important; /* Sfondo grigio */
    border-color: #6c757d !important; /* Bordo grigio */
    color: white !important; /* Testo bianco */
}

.btn-annulla-full {
    color: white !important; /* Testo bianco */
    border: 2px solid #6c757d !important; /* Bordo grigio */
    background-color: #6c757d !important; /* Sfondo grigio */
    border-radius: 5px !important; /* Smusso angoli */
    padding: 8px 16px !important; /* Margine interno */
    transition: all 0.3s ease !important; /* Transizione morbida */
}
.btn-annulla-full:hover {
    color: white !important; /* Testo bianco */
    border: 2px solid #6c757d !important; /* Bordo grigio */
    background-color: #6c757d !important; /* Sfondo grigio */
    border-radius: 5px !important; /* Smusso angoli */
    padding: 8px 16px !important; /* Margine interno */
    transition: all 0.3s ease !important; /* Transizione morbida */
}



/* Pulsante Annulla (Rosso con hover)
    Da aggiungere assieme a btn-outline-secondary
 */
.btn-cancella {
    color: #dc3545 !important; /* Testo rosso */
    border: 2px solid #dc3545 !important; /* Bordo grigio */
    background-color: white !important; /* Sfondo bianco */
    border-radius: 5px !important; /* Smusso angoli */
    padding: 8px 16px !important; /* Margine interno */
    transition: all 0.3s ease !important; /* Transizione morbida */
}

.btn-cancella:hover {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    color: white !important; /* Testo bianco */
}

.btn-cancella-full {
    color: white !important; /* Testo bianco */
    border: 2px solid #dc3545 !important; /* Bordo roffo */
    background-color: #dc3545 !important; /* Sfondo roffo */
    border-radius: 5px !important; /* Smusso angoli */
    padding: 8px 16px !important; /* Margine interno */
    transition: all 0.3s ease !important; /* Transizione morbida */
}
.btn-cancella-full:hover {
     color: white !important; /* Testo bianco */
     border: 2px solid #dc3545 !important; /* Bordo roffo */
     background-color: #dc3545 !important; /* Sfondo roffo */
     border-radius: 5px !important; /* Smusso angoli */
     padding: 8px 16px !important; /* Margine interno */
     transition: all 0.3s ease !important; /* Transizione morbida */
 }
