/* ChildLogin.css */
.child-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #B8E1FF;
    margin: auto;
    width: 80%;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.child-login-container h1 {
    font-size: 6em; /* Aumenta la dimensione del titolo */
}

.child-login-container input {
    font-size: 3em; /* Aumenta la dimensione del testo dell'input */
}

.child-login-container button {
    font-size: 3em; /* Aumenta la dimensione del testo del bottone */
}

.centered-textarea {
    width: 100%;
    height: 100px;
    margin-top: 20px;
}