/* Lavagna centrata */
.lavagna-container {
    display: grid;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    height: 80vh; /* Altezza del contenitore */
}